$primary-color: #CDCDCD;
$secondary-color: #1C1C1C;
$button-color: #3E3E3E;
$input: rgba(107, 107, 107, 0.15);
$subtitle: #ebebeb;
$white: #fff;
$title-bg: #040404;
$subtitle-bg: #04243c;
$card-title: #222222;
$blue-text: #529ec3;
$grey-text: #727272;


//font-family: 'Yellowtail', cursive;
//font-family: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
}

body {
  background-color: $primary-color;

  header {
    background-color: $secondary-color;
    padding: 15px;
    height: 190px;

    .search {
      text-align: center;

      input[type=text] {
        width: 80%;
        height: 30px;
        background-color: rgba(28, 28, 28, 0.15);
        color: $primary-color;
        border: 1px solid $input;
        font-size: 11px;
        font-weight: 400;
        line-height: 24px;
        padding: 11px 13px;
      }

      input[type=button] {
        height: 30px;
        width: 50px;
        background-color: $button-color;
        border: none;
        outline:none;
        border-radius: 12px;
        color: $white;
        font-size: 13px;
        font-weight: bold;
        line-height: 18px;
      }
    }

    .logo {
      text-align: center;

      h1 {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.29);
        color: $white;
        font-family: 'Cambo', serif;
        margin-bottom: 0;
        font-size: 60px;
        font-weight: 400;
        line-height: 30px;
      }

      p {
        margin: 0;
        color: $subtitle;
        opacity: 0.4;
        font-size: 16px;
        line-height: 48px;
      }
    }
  }

  main {
    .title {
      height: 100px;
      line-height: 100px;
      text-shadow: 1px 1px 0 rgba(90, 185, 218, 0.2);
      color: $white;
      font-family: 'Cambo', serif;
      font-size: 36px;
      font-weight: 400;
      background-color: $title-bg;
      opacity: 0.83;
      text-align: center;
    }

    .subtitle {
      background-color: $subtitle-bg;
      opacity: 0.83;
      height: 70px;
      line-height: 70px;
      text-shadow: 1px 1px 0 rgba(90, 185, 218, 0.2);
      color: $white;
      font-family: 'Cambo', serif;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      text-align: center;
    }

    ul.cards {
      flex-direction: column;
      align-items: center;

      li {
        margin: 20px 20px 0 20px;
        background-color: #F4F4F4;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
        padding: 30px;
        max-width: 230px;
        position: relative;

        &:after {
          content:"";
          width: 230px;
          height: 30px; /* Changed the unit over here */
          position: absolute;
          bottom: -33px;
          left: 0;
          background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.25) 100%);
          //background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.67) 49%, rgba(255, 255, 255, 1) 100%);
        }

        &:hover {
          background-image: linear-gradient(to top, rgba(0,0,0,0.95) 0%, rgba(31,31,31,0.8) 100%);

          h1 {
            color: $white;
            font-size: 70px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
          }

          p:first-of-type {
            color: $white;
          }

          input[type=button] {
            background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(195,195,195,1) 100%);
            color: $secondary-color;
          }

          &:after {
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.05) 63%, rgba(0, 0, 0, 0.1) 93%, rgba(0, 0, 0, 0.1) 100%);
          }
        }

        &:nth-child(odd) {
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;

          &:after {
            border-top-right-radius: 20px;
          }
        }

        &:nth-child(even) {
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;

          &:after {
            border-top-left-radius: 20px;
          }
        }

        h1 {
          color: $card-title;
          font-family: Tahoma, Verdana, Segoe, sans-serif;
          font-size: 70px;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
        }

        p:first-of-type {
          font-family: 'Yellowtail', cursive;
          font-size: 30px;
          line-height: 24px;
        }

        p:last-of-type {
          span {
            display: block;
            color: $blue-text;
          }

          color: $grey-text;
        }

        input[type=button] {
          background: linear-gradient(180deg, rgba(87,152,188,1) 0%, rgba(37,102,138,1) 100%);
          color: $white;
          font-family: 'Cambo', serif;
          font-size: 20px;
          line-height: 24px;
          width: 103px;
          height: 35px;
          border: none;
          outline:none;
          border-radius: 20px;
        }
      }
    }

    .comment {
      background: linear-gradient(180deg, rgba(184,184,184,1) 0%, rgba(166,166,166,1) 100%);
      margin: 20px;
      padding: 20px;
      border-radius: 20px;

      p {
        color: $white;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
      }
    }

    ul.icons {
      flex-direction: row;
      padding: 20px;
      justify-content: space-around;
    }
  }

  footer {
    background-color: $secondary-color;
    height: 190px;
  }
}


@media only screen and (min-width: 600px) {
  body {
    header {
      .logo {
        font-size: 36px;
      }
    }

    main {
      background-image: url("./assets/bg.png");
      background-repeat: no-repeat;
      background-size: 100%;

      ul.cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

@media only screen and (min-width: 967px) {
  body {
    header {
      height: 190px;
      padding: 50px 17% 40px 19%;

      .search {
        text-align: end;

        input[type=text] {
          width: 255px;
        }

        input[type=button] {
          &:hover {
            cursor: pointer;
          }
        }
      }

      .logo {
        text-align: left;

        h1 {
          margin: 0;
        }
      }
    }

    main {
      padding: 230px 17% 48px 19%;

      .title {
        width: 510px;
        height: 100px;
        opacity: 0.83;
        font-size: 60px;
        font-weight: 400;
        margin-left: auto;
        margin-right: 120px;
      }

      .subtitle {
        width: 350px;
        height: 70px;
        opacity: 0.83;
        font-size: 40px;
        font-weight: 400;
        margin-left: auto;
        margin-right: 240px;
      }

      ul.cards {
        flex-direction: row;
        justify-content: center;
        margin: 100px 0 0 0;

        li {
          margin: 20px 20px 0 20px;

          &:hover {
            cursor: pointer;
          }

          input:hover {
            cursor: pointer;
          }
        }
      }

      .comment {
        margin: 43px 0 47px 0;
        padding-left: 32%;
      }

      ul.icons {
        padding: 0;
        justify-content: left;

        li {
          margin-right: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1490px) {
  body {
    main {
      ul.cards {
        justify-content: space-between;

        li {
          margin: 0;
        }
      }
    }
  }
}