* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
}

body {
  background-color: #CDCDCD;
}
body header {
  background-color: #1C1C1C;
  padding: 15px;
  height: 190px;
}
body header .search {
  text-align: center;
}
body header .search input[type=text] {
  width: 80%;
  height: 30px;
  background-color: rgba(28, 28, 28, 0.15);
  color: #CDCDCD;
  border: 1px solid rgba(107, 107, 107, 0.15);
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  padding: 11px 13px;
}
body header .search input[type=button] {
  height: 30px;
  width: 50px;
  background-color: #3E3E3E;
  border: none;
  outline: none;
  border-radius: 12px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}
body header .logo {
  text-align: center;
}
body header .logo h1 {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.29);
  color: #fff;
  font-family: "Cambo", serif;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 400;
  line-height: 30px;
}
body header .logo p {
  margin: 0;
  color: #ebebeb;
  opacity: 0.4;
  font-size: 16px;
  line-height: 48px;
}
body main .title {
  height: 100px;
  line-height: 100px;
  text-shadow: 1px 1px 0 rgba(90, 185, 218, 0.2);
  color: #fff;
  font-family: "Cambo", serif;
  font-size: 36px;
  font-weight: 400;
  background-color: #040404;
  opacity: 0.83;
  text-align: center;
}
body main .subtitle {
  background-color: #04243c;
  opacity: 0.83;
  height: 70px;
  line-height: 70px;
  text-shadow: 1px 1px 0 rgba(90, 185, 218, 0.2);
  color: #fff;
  font-family: "Cambo", serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
body main ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  text-align: center;
}
body main ul.cards {
  flex-direction: column;
  align-items: center;
}
body main ul.cards li {
  margin: 20px 20px 0 20px;
  background-color: #F4F4F4;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  padding: 30px;
  max-width: 230px;
  position: relative;
}
body main ul.cards li:after {
  content: "";
  width: 230px;
  height: 30px;
  /* Changed the unit over here */
  position: absolute;
  bottom: -33px;
  left: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.25) 100%);
}
body main ul.cards li:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(31, 31, 31, 0.8) 100%);
}
body main ul.cards li:hover h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
body main ul.cards li:hover p:first-of-type {
  color: #fff;
}
body main ul.cards li:hover input[type=button] {
  background: linear-gradient(180deg, #f6f6f6 0%, #c3c3c3 100%);
  color: #1C1C1C;
}
body main ul.cards li:hover:after {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.05) 63%, rgba(0, 0, 0, 0.1) 93%, rgba(0, 0, 0, 0.1) 100%);
}
body main ul.cards li:nth-child(odd) {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
body main ul.cards li:nth-child(odd):after {
  border-top-right-radius: 20px;
}
body main ul.cards li:nth-child(even) {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
body main ul.cards li:nth-child(even):after {
  border-top-left-radius: 20px;
}
body main ul.cards li h1 {
  color: #222222;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
body main ul.cards li p:first-of-type {
  font-family: "Yellowtail", cursive;
  font-size: 30px;
  line-height: 24px;
}
body main ul.cards li p:last-of-type {
  color: #727272;
}
body main ul.cards li p:last-of-type span {
  display: block;
  color: #529ec3;
}
body main ul.cards li input[type=button] {
  background: linear-gradient(180deg, #5798bc 0%, #25668a 100%);
  color: #fff;
  font-family: "Cambo", serif;
  font-size: 20px;
  line-height: 24px;
  width: 103px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 20px;
}
body main .comment {
  background: linear-gradient(180deg, #b8b8b8 0%, #a6a6a6 100%);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
body main .comment p {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}
body main ul.icons {
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
}
body footer {
  background-color: #1C1C1C;
  height: 190px;
}

@media only screen and (min-width: 600px) {
  body header .logo {
    font-size: 36px;
  }
  body main {
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  body main ul.cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (min-width: 967px) {
  body header {
    height: 190px;
    padding: 50px 17% 40px 19%;
  }
  body header .search {
    text-align: end;
  }
  body header .search input[type=text] {
    width: 255px;
  }
  body header .search input[type=button]:hover {
    cursor: pointer;
  }
  body header .logo {
    text-align: left;
  }
  body header .logo h1 {
    margin: 0;
  }
  body main {
    padding: 230px 17% 48px 19%;
  }
  body main .title {
    width: 510px;
    height: 100px;
    opacity: 0.83;
    font-size: 60px;
    font-weight: 400;
    margin-left: auto;
    margin-right: 120px;
  }
  body main .subtitle {
    width: 350px;
    height: 70px;
    opacity: 0.83;
    font-size: 40px;
    font-weight: 400;
    margin-left: auto;
    margin-right: 240px;
  }
  body main ul.cards {
    flex-direction: row;
    justify-content: center;
    margin: 100px 0 0 0;
  }
  body main ul.cards li {
    margin: 20px 20px 0 20px;
  }
  body main ul.cards li:hover {
    cursor: pointer;
  }
  body main ul.cards li input:hover {
    cursor: pointer;
  }
  body main .comment {
    margin: 43px 0 47px 0;
    padding-left: 32%;
  }
  body main ul.icons {
    padding: 0;
    justify-content: left;
  }
  body main ul.icons li {
    margin-right: 10px;
  }
  body main ul.icons li:hover {
    cursor: pointer;
  }
}
@media only screen and (min-width: 1490px) {
  body main ul.cards {
    justify-content: space-between;
  }
  body main ul.cards li {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
